.idea/
build/
cmake-build-debug/
cmake-build-release/
data/
experiments/
*~
\#*
*ipynb*
competitors/rmi/*.h
competitors/rmi/*.cpp
rmi_data/*
rmi.tar.zst
.vscode/
benchmark_results_*
fb*.csv
results/

analysis_results/
*.png
# Milestone 3 report figures (override *.png above)
!report_results/milestone3_good_run/*.png
!report_results/milestone3_final/*.png
